body{
  font-family: Inter, Roboto, sans-serif;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 200;
  background-color: #5E78AB;
}
a{
  color: #FFFFFF;
}
a:hover{
  color: #477A68;
}
#banner img{
  margin-top: 100px;
  margin-bottom: 0px;
  width: 15%;
  height: auto;
}
@media screen and (max-width: 500px) {
  #banner img{
    width: 50%;
    height: auto;
  }
}

/* main section */
.lead {
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.8;
}
section{
  margin: 50px auto;
}
section a{
  font-size: 20px;
  margin-right: 15px;
}
section p{
  font-size: 14px;
  color: #EEEEEE;
}
.fab, .fas {
  font-size: 25px;
}

/* footer section */
footer{
  text-align: center;
}
footer h3{
  font-size: 24px;
}
footer p{
  color: #EEEEEE;
}
footer section{
  font-size: 14px;
  font-weight: 200;
}
#footnote p{
  font-family: Inter, Roboto, Sans-serif;
  font-size: 10px;
  color: #F8F8F8;
  opacity: 0.8;
}
